interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://drive.google.com/uc?export=download&id=10e50MsbO8BdKVwsjRFmoQQzharX_Am2f
  response:
    body:
      string: ''
    headers:
      Accept-CH:
      - Sec-CH-UA-Arch, Sec-CH-UA-Bitness, Sec-CH-UA-Full-Version, Sec-CH-UA-Full-Version-List,
        Sec-CH-UA-Model, Sec-CH-UA-WoW64, Sec-CH-UA-Form-Factors, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
      Content-Type:
      - application/binary
      Location:
      - https://drive.usercontent.google.com/download?id=10e50MsbO8BdKVwsjRFmoQQzharX_Am2f&export=download
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://drive.usercontent.google.com/download?id=10e50MsbO8BdKVwsjRFmoQQzharX_Am2f&export=download
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"coordinates":[[[-99.09607039754393,19.42606297126916],[-99.09607039754393,19.42583707815382],[-99.09587079004991,19.42583707815382],[-99.09587079004991,19.42606297126916],[-99.09607039754393,19.42606297126916]]],"type":"Polygon"}},{"type":"Feature","properties":{},"geometry":{"coordinates":[[[-99.096234519261,19.42567393293139],[-99.096234519261,19.42543967283784],[-99.09605709037753,19.42543967283784],[-99.09605709037753,19.42567393293139],[-99.096234519261,19.42567393293139]]],"type":"Polygon"}},{"type":"Feature","properties":{},"geometry":{"coordinates":[[[-99.09455578224427,19.42536198674972],[-99.09455578224427,19.42495865737405],[-99.09425641045227,19.42495865737405],[-99.09425641045227,19.42536198674972],[-99.09455578224427,19.42536198674972]]],"type":"Polygon"}},{"type":"Feature","properties":{},"geometry":{"coordinates":[[[-99.09346758953988,19.42222047258528],[-99.09346758953988,19.422018804123567],[-99.09335354314331,19.422018804123567],[-99.09335354314331,19.42222047258528],[-99.09346758953988,19.42222047258528]]],"type":"Polygon"}}]}'
    headers:
      Content-Disposition:
      - attachment; filename="features.geojson"
      Content-Type:
      - application/octet-stream
      Last-Modified:
      - Wed, 21 Jan 2026 14:21:46 GMT
      X-Content-Security-Policy:
      - sandbox
      X-Goog-Hash:
      - crc32c=hrZfGQ==
    status:
      code: 200
      message: OK
version: 1
