interactions:
- request:
    body: bpolys=%7B%22type%22%3A%22FeatureCollection%22%2C%22features%22%3A%5B%7B%22type%22%3A%22Feature%22%2C%22geometry%22%3A%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B85.31607078054628%2C27.672118011307035%5D%2C%5B85.31607078054628%2C27.671104197435426%5D%2C%5B85.31669702365383%2C27.671104197435426%5D%2C%5B85.31669702365383%2C27.672118011307035%5D%2C%5B85.31607078054628%2C27.672118011307035%5D%5D%5D%7D%2C%22properties%22%3A%7B%7D%7D%5D%7D&filter=building%3D%2A+and+geometry%3Apolygon&properties=tags%2C+metadata
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Polygon\",\n
        \     \"coordinates\" : [\n        [\n          [\n            85.316576,\n
        \           27.6713187\n          ],\n          [\n            85.3166707,\n
        \           27.6713143\n          ],\n          [\n            85.3166648,\n
        \           27.6712153\n          ],\n          [\n            85.3165701,\n
        \           27.6712197\n          ],\n          [\n            85.316576,\n
        \           27.6713187\n          ]\n        ]\n      ]\n    },\n    \"properties\"
        : {\n      \"@changesetId\" : 49360535,\n      \"@lastEdit\" : \"2017-06-08T09:13:12Z\",\n
        \     \"@osmId\" : \"way/203446478\",\n      \"@osmType\" : \"way\",\n      \"@snapshotTimestamp\"
        : \"2025-08-20T11:00:00Z\",\n      \"@version\" : 3,\n      \"building\" :
        \"yes\"\n    }\n  }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n
        \     \"type\" : \"Polygon\",\n      \"coordinates\" : [\n        [\n          [\n
        \           85.3165228,\n            27.6716385\n          ],\n          [\n
        \           85.3164962,\n            27.6715588\n          ],\n          [\n
        \           85.3163762,\n            27.6715901\n          ],\n          [\n
        \           85.3164028,\n            27.6716699\n          ],\n          [\n
        \           85.3165228,\n            27.6716385\n          ]\n        ]\n
        \     ]\n    },\n    \"properties\" : {\n      \"@changesetId\" : 43047110,\n
        \     \"@lastEdit\" : \"2016-10-20T23:26:42Z\",\n      \"@osmId\" : \"way/203446798\",\n
        \     \"@osmType\" : \"way\",\n      \"@snapshotTimestamp\" : \"2025-08-20T11:00:00Z\",\n
        \     \"@version\" : 2,\n      \"building\" : \"residential\",\n      \"name\"
        : \"Earthquake 2015 damaged House\"\n    }\n  }, {\n    \"type\" : \"Feature\",\n
        \   \"geometry\" : {\n      \"type\" : \"Polygon\",\n      \"coordinates\"
        : [\n        [\n          [\n            85.3162949,\n            27.6711042\n
        \         ],\n          [\n            85.3162987,\n            27.6711216\n
        \         ],\n          [\n            85.3163999,\n            27.6711042\n
        \         ],\n          [\n            85.3162949,\n            27.6711[...]
- request:
    body: null
    headers:
      Authorization:
      - Token DUMMY_TOKEN
    method: GET
    uri: https://osmcha.org/api/v1/changesets/?ids=49360535,43047110,14844487,15280884,49584905,30673993,49585108,163528377,49360651,49584423
  response:
    body:
      string: '{"type":"FeatureCollection","count":1,"next":null,"previous":null,"features":[{"id":163528377,"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[27.6709269,85.3162461],[27.6709269,85.3176223],[27.6719987,85.3176223],[27.6719987,85.3162461],[27.6709269,85.3162461]]]},"properties":{"check_user":null,"reasons":[{"id":3,"name":"mass
        deletion"}],"tags":[],"features":[],"user":"tnagorra","uid":"4326462","editor":"iD
        2.32.0","comment":"Updates after recent constructions","comments_count":0,"source":"Not
        reported","imagery_used":"Bing Maps Aerial;Esri World Imagery (Clarity) Beta","date":"2025-03-12T13:35:25Z","reviewed_features":[],"tag_changes":{"name":["Prasadi
        Academy","My Place"],"route":["micro","tempo","bus"],"source":["OpenDRI survey"],"amenity":["college","cafe","shelter","parking"],"highway":["residential","primary","service"],"landuse":["commercial"],"leisure":["park"],"building":["house","yes","college"],"isced:level":["college"],"operator:type":["private"],"student:count":["1100"],"building_count":["4"],"personnel:count":["90"]},"create":16,"modify":6,"delete":100,"area":1.4750111599930601e-06,"is_suspect":true,"harmful":null,"checked":false,"check_date":null,"metadata":{"host":"https://www.openstreetmap.org/edit","locale":"en-US","changesets_count":84}}}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      ETag:
      - W/"c69303a85aba45af4cc485b0c6490d8e"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openstreetmap.org/api/0.6/changesets?changesets=49360535,43047110,14844487,15280884,49584905,30673993,49585108,49360651,49584423
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<osm version=\"0.6\" generator=\"OpenStreetMap
        server\" copyright=\"OpenStreetMap and contributors\" attribution=\"http://www.openstreetmap.org/copyright\"
        license=\"http://opendatacommons.org/licenses/odbl/1-0/\">\n<changeset id=\"49585108\"
        created_at=\"2017-06-16T09:14:07Z\" open=\"false\" comments_count=\"0\" changes_count=\"121\"
        closed_at=\"2017-06-16T09:14:12Z\" min_lat=\"27.6712993\" min_lon=\"85.3152433\"
        max_lat=\"27.6721284\" max_lon=\"85.3165958\" uid=\"4204463\" user=\"Alisha12\">\n
        \ <tag k=\"comment\" v=\"#hotosm-project-3047 #kll #data-cleaning #kathmandu
        #fridaymapping\"/>\n  <tag k=\"created_by\" v=\"JOSM/1.5 (11639 en)\"/>\n
        \ <tag k=\"source\" v=\"Bing\"/>\n</changeset>\n<changeset id=\"49584905\"
        created_at=\"2017-06-16T09:07:22Z\" open=\"false\" comments_count=\"0\" changes_count=\"138\"
        closed_at=\"2017-06-16T09:07:27Z\" min_lat=\"27.6712071\" min_lon=\"85.3159534\"
        max_lat=\"27.6720835\" max_lon=\"85.3171545\" uid=\"4204463\" user[...]
